@{
    ViewBag.Title = "About Us";
}
<!DOCTYPE HTML>

<html>

<body class="subpage">


    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a href="~/Views/Home/Index.cshtml">Home</a></li>
            <li><a href="~/Views/Home/AboutUs.cshtml">About Us</a></li>
            <li><a href="~/Views/Home/Product.cshtml">Product</a></li>
            
        </ul>
        <ul class="actions vertical">
            <li><a href="#" class="button fit">Login</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h1>About Us</h1>
            </header>

            <!-- Content -->
            <h2 id="content"></h2>
            <p>Turkey is an agricultural country and a project of a country in one of the biggest reasons for the success are the needs and requirements of that country. $93 million is wasted due to faulty irrigation in developing countries. 19 million cube water is wasted in agriculture field in Turkey. The purpose of this project is to reduce the expenditures of farmers and make their lives easier and to increase their yields while obtaining products. This project not only aims to solve the problem of farmers but also aims to solve the problem of unnecessary use of our natural resources which is a bigger threat. As a result, our resources can be prevented from being endangered.</p>
            <div class="row">
                <div class="6u 12u$(small)">
                    <h3>IOT in Agriculture</h3>
                    <p> Internet of Things (IoT) is a network in which physical objects are connected to each other or to larger systems. It is envisaged that objects can be marked with a single key and can work together on the Internet infrastructure, thus creating values greater than the sum of small parts. Technological innovations are still ineffective in the works and innovations related to agriculture, and primitive methods continue to be used. While other sectors continue to adapt to the new technologies coming with IoT, the adaptation of the agricultural sector and farmers, which is a milestone for our country, should be facilitated.</p>
                </div>
                <div class="6u$ 12u$(small)">
                    <h3>Our Gain</h3>
                    <p>Our main objective in our product is to prevent over-consumption of resources, save water, and facilitate farmers to increase product productivity. In our country, it is our aim to close the technological differences between the other sectors of the agricultural sector and increase the productivity of the farmers in a more conscious and controlled manner. The adaptability of the product and the feasibility of the product are very important in developing technologies. Mobile application, website and the product itself to offer a complete solution, and to use this product for the audience to use it is one of our goals. Controlling all irrigation and liquid fertilizer system by it-self, solving irrigation and fertilize problem with IoT is the essential part of the product</p>
                </div>
                <!-- Break -->
                <!-- Elements -->
                <h2 id="elements">Product Team</h2>
                    <div class="12u">
                        <div class="4u 12u$(medium)">
                            <h3>Ekin Doğa Gül</h3>
                            <p></p>
                        </div>
                        <div class="4u 12u$(medium)">
                            <h3>Şahin Özkul</h3>
                            <p> </p>
                        </div>
                        <div class="4u$ 12u$(medium)">
                            <h3>Ahmet Akif Albayrak</h3>
                            <p></p>
                        </div>
                    </div>

                    <hr class="major" />


    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>