

<!-- Banner -->
<section id="banner">
    <div class="content">
        <h1>IOT Technologies in Agriculture</h1>
        <p>Take one and stop water consumption in the field<br />protect your natural resources without wasting your money</p>
        <ul class="actions">
            <li><a href="#one" class="button scrolly">Order SmartCube</a></li>
        </ul>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper">
    <div class="inner flex flex-3">
        <div class="flex-item left">
            <div>
                <h3>What we offer?</h3>
                <p> Controlling all irrigation and liquid fertilizer system <br /> by it-self, solving irrigation and fertilize problem with IoT </p>
            </div>
            <div>
                <h3>Why choose us?</h3>
                <p>The system reports every move for the users via mobile application. There is no need for the users to go to the agriculture field everyday <br /> because system gives water and irrigation by it-self without human</p>
            </div>
        </div>
        <div class="flex-item image fit round">
            <img src="~/Content/images/pic06.jpg" alt="" />
        </div>
        <div class="flex-item right">
            <div>
                <h3>What is our difference among others?</h3>
                <p> You can control your field through mobile application at any time <br /> Also, when you login your account on the web site, you will be able to access your own farm data. </p>
            </div>
            <div>
                <h3>What else?</h3>
                <p>You will be aware of what time the day is needed in the field, the general daily and monthly situation of the field. With this innovation in the agriculture, <br /> you will keep up with technology </p>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
    <div class="inner">
        <h2>*****</h2>
        <figure>
            <blockquote>
                "Agriculture looks different today - <br /> our farmers are using GPS and you can monitor your irrigation systems over the Internet."
            </blockquote>
            <footer>
                <cite class="author">Debbie Stabenow</cite>
                <cite class="company">American - Politician</cite>
            </footer>
        </figure>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper">
    <div class="inner flex flex-3">
        <div class="flex-item box">
            <div class="image fit">
                <img src="~/Content/images/pic08.jpg" alt="" />
            </div>
            <div class="content">
                <h3>Product Installation</h3>
                <p>After you order the product, we come to the field and provide installation and connection. All your data and statistics about your field will be protected by us.</p>
            </div>
        </div>
        <div class="flex-item box">
            <div class="image fit">
                <img src="~/Content/images/pic07.jpg" alt="" />
            </div>
            <div class="content">
                <h3>Principle of Work</h3>
                <p>The system will measure the humidity and the temperature through the sensors and if the specified rates do not match the current rate waters will work and start irrigating the soil until the rates meet the farmer specification.</p>
            </div>
        </div>
        <div class="flex-item box">
            <div class="image fit">
                <img src="~/Content/images/pic09.jpg" alt="" />
            </div>
            <div class="content">
                <h3>Support Service</h3>
                <p>If you encounter problems due to rain and snow while using the product, we will support you 7/24 with our professional support team.</p>
            </div>
        </div>
    </div>
</section>