<!DOCTYPE HTML>
<!--
    Intensify by TEMPLATED
    templated.co 
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Generic - Intensify by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="subpage">


    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a href="~/Views/Home/Index.cshtml">Home</a></li>
            <li><a href="~/Views/Home/AboutUs.cshtml">About Us</a></li>
            <li><a href="~/Views/Home/Product.cshtml">Product</a></li>
            
        </ul>
        <ul class="actions vertical">
            <li><a href="#" class="button fit">Login</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h1>Smart Cube</h1>
                <p></p>
            </header>
            <div class="image fit">
                <img src="images/pic07.jpg" alt="" />
            </div>
         <p> On the website of this product, monthly data can be displayed to the customers via the database (water and fertilizer rates, humidity rates, how often the product is watered and fertilized). This will ensure a stable working environment. Security is very important in electronic projects and projects using NodeMCU. the safety problem will be solved with 5V and there will be an adapter replacement between 220V and 5V. We will collect NodeMCU and all sensors (the overall design for sensors are provided in Figure 5.) in a plastic box for easy positioning and protection against rain and water. Plastic box will stand together between two dc motors. NodeMCU allows the Internet to be controlled and monitored on the Internet using the Wi-Fi module (ESP8266-12E) and IoT. The ESP8266 module will be used to connect the electronic system to the internet. With this feature, the system allows the Internet to send and receive data, as well as to control our project over the internet. </p>
        </div>
    </section>


    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>